.container{
    margin-top: 20px;
}

h4{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size:  30px;
    margin: 15px;
}

/* Campo de pesquisa*/
input {
    margin: 10px;
}

form {
    margin-left: 400px;
}

/* Card */
.card {
    width: 18rem;
    height: 18rem;
    margin-top: 45px;
}

a{
    margin: 5px;
    width: 100%;
}