<div class="container">
    <div class="row">
        <div class="col-6">
            <button routerLink="/cadastrar" type="button" class="btn btn-primary">Cadastrar nova receita</button>
            <button routerLink="/lista" type="button" class="btn btn-warning">Listar receitas</button>
        </div>
        <div class="col-6">
            <button routerLink="/atualizar" type="button" class="btn btn-success">Atualizar receita</button>
            <button routerLink="/apagar" type="button" class="btn btn-danger">Deletar receita</button>
        </div>
    </div>
</div>
